
@import 'nib/buttons'
@import 'nib/iconic'

iconic-stroke('iconic')

.minimal
  minimal-button()
  // TODO: make this a mixin
  &:before
    color rgba(0,0,0,0.5)
    position relative
    left -13px
    top 2px
    line-height 10px
    content 'j'
    font-family 'IconicStroke'
    font-size 18px
    font-weight normal

.minimal-alternate
  minimal-button(#7fbf4d, text: darken(#7fbf4d, 75%), text-shadow: rgba(white, 0.75))

.smooth
  smooth-button()

.smooth-alternate
  smooth-button(#1AADAB)

.download
  download-button()

.download-alternate
  download-button(#00C0FA)

.bold
  bold-button()

.bold-alternate
  bold-button(glow: #00ABFA)

.bold-alternate-2
  green = #00F700
  bold-button(darken(desaturate(green, 80%), 70%), glow: green)

.pill
  pill-button()
