
@import 'nib/gradients'

#gradients tr
  height: 50px
  color: white
  td
    padding: 0
    width: 150px

#gradients
  tr:nth-child(1)
    td:first-child
      background: linear-gradient(top, #eee, 90% white, 10% black)
