
@import 'nib/vendor'

gray = #ebebeb

body
  padding 50px

ul.examples
  margin: 0
  padding: 0
  li
    display: inline-block
    float: left
    margin: 5px
    border-radius: 8px
    height: 160px
    width: 215px
    background: gray
    list-style-type: none
    text-align: center
    a,
    button,
    input
      margin: 5px auto
      &:first-child
        margin-top: 30px
