
@import 'nib/vendor'

gray = #ebebeb

body
  padding 50px

ul.examples
  margin: 0
  padding: 0
  li
    display: inline-block
    float: left
    margin: 5px
    border-radius: 8px
    //background: gray
    padding: 30px
    min-height: 180px
    list-style-type: none
    text-align: center
    a,
    button,
    input
      float: left
      clear: both
      margin-top: 5px
      &:first-child
        margin-top: 30px
