
@import 'nib/vendor'

gray = #ebebeb

body
  padding: 50px

table
  border-collapse: collapse
  td
    &:first-child
      font: 12px helvetica, arial
    padding: 3px 10px
    border-left: 1px solid #eee