body {
  background: #cdd4dc url(images/bg.png);
  font: 14px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2C2C2C;
}

a {
  color: #159BE8;
  text-decoration: none;
}

h1 {
  margin: 80px 0 0 0;
  font-size: 80px;
  text-transform: lowercase;
  text-shadow: -1px -1px 1px white;
  color: black;
}

#tagline {
  font-size: 12px;
  letter-spacing: 1px;
}

section {
  margin: 40px auto;
  width: 600px;
  padding: 10px 30px;
  text-align: left;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
}

p code {
  padding: 3px 5px;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #535353;
}

code {
  font: 12px monaco, monospace;
}

pre {
  padding: 5px 25px;
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 0 5px #eee;
  overflow: auto;
}