
/*
 * Vendor "display: box" support.
 */

display(type, args...)
  if type == box
    display: vendor-value(type, args)
  else
    display: arguments

/*
 * Synopsis:
 *
 *   box: <orient> [direction]
 *
 * Examples:
 *
 *     box: horizontal
 *     box: horizontal reverse
 *
 */

box(args...)
  display: box
  box-orient: args[0]
  if args[1]
    box-direction: args[1]
