
/*
 * Vendor "display: box" support.
 */

display(type)
  if box == type
    for prefix in vendor-prefixes
      if official == prefix
        display: box
      else
        display: '-%s-box' % prefix
  else
    display: type

/*
 * Synopsis:
 *
 *   box: <orient> [direction]
 *
 * Examples:
 *
 *     box: horizontal
 *     box: horizontal reverse
 *
 */

box(args...)
  display: box
  box-orient: args[0]
  if args[1]
    box-direction: args[1]
