
/*
 * Support for ie defaulting to true.
 */

support-for-ie = true

/*
 * Default vendor prefixes.
 */

vendor-prefixes ?= webkit moz official

/*
 * Default gradient formats.
 */
gradient-formats ?= png svg css
