
/*
 * Support for ie defaulting to true.
 */

support-for-ie = true

/*
 * Default vendor prefixes.
 */

vendor-prefixes ?= webkit moz official

/*
 * Default vendor prefixes.
 */

gradient-formats = png svg css