
/*
 * Support for ie defaulting to true.
 */

support-for-ie = true

/*
 * Alias "nowrap" as "no-wrap".
 */

no-wrap = unquote('nowrap')

/*
 * Default vendor prefixes.
 */

vendor-prefixes ?= webkit moz official
