fontawesome(path)
  @font-face
    font-family 'FontAwesome'
    src url(path + '/fontawesome-webfont.eot?v=3.2.1')
    src url(path + '/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url(path + '/fontawesome-webfont.woff?v=3.2.1') format('woff'), url(path + '/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url(path + '/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg')
    font-weight normal
    font-style normal
