/*
 * Define background-image as `path` with optional width and height, adding an
 * @2x variant.
 *
 * affected by github.com/LearnBoost/stylus/issues/1050 and
 * github.com/LearnBoost/stylus/issues/1038 ... refactor when those are closed
 */

// We need this due to some weird scoping rule in Stylus. The @media selector
// does not inherit its parent scope at all.
nib-image--background-size(w = auto, h = auto)
  if w in (cover contain) and h == auto
    background-size: w null
  else if w != auto or h != auto
    background-size: w h

image(path, w = auto, h = auto, min_pixel_ratio = 1.5)

  background-image: url(path)
  nib-image--background-size w h

  s = 'all and (-webkit-min-device-pixel-ratio:' + min_pixel_ratio + '),'
  s = s + '(min--moz-device-pixel-ratio:' + min_pixel_ratio + '),'
  s = s + '(-o-min-device-pixel-ratio:' + min_pixel_ratio + '/1),'
  s = s + '(min-device-pixel-ratio:' + min_pixel_ratio + '),'
  s = s + '(min-resolution:' + unit(min_pixel_ratio*92, dpi) + '),'
  s = s + '(min-resolution:' + unit(min_pixel_ratio, dppx) + ')'

  @media s
    ext = extname(path)
    path = pathjoin(dirname(path), basename(path, ext) + '@2x' + ext)
    background-image: url(path)
    nib-image--background-size w h
