/*
 * Vendor "touch-callout" support.
 */

touch-callout()
  vendor('touch-callout', arguments, only: webkit official)

/*
 * Vendor "tap-highlight-color" support.
 */

tap-highlight-color()
  vendor('tap-highlight-color', arguments, only: webkit official)
