reset-mobile-webkit()
  -webkit-touch-callout none
  -webkit-user-drag none
  -webkit-tap-highlight-color rgba(0,0,0,0)

// use inside of html tag
mobile-html()
  height 100%
  font-size 100%
  text-size-adjust(100%)
  user-select(none)
  reset-mobile-webkit()