//! Based in Nicolas Gallagher's git.io/normalize
normalize-html5()
  @import 'normalize/html5'

normalize-base()
  @import 'normalize/base'

normalize-links()
  @import 'normalize/links'

normalize-text()
  @import 'normalize/text'

normalize-embed()
  @import 'normalize/embed'

normalize-groups()
  @import 'normalize/forms'

normalize-forms()
  @import 'normalize/forms'

normalize-tables()
  @import 'normalize/tables'

normalize()
  normalize-html5()
  normalize-base()
  normalize-links()
  normalize-text()
  normalize-embed()
  normalize-groups()
  normalize-forms()
  normalize-tables()
