
-pos(type, args)
  i = 0
  position: type
  {args[i]}: args[i + 1] is a 'unit' ? args[i += 1] : 0
  {args[i += 1]}: args[i + 1] is a 'unit' ? args[i += 1] : 0

fixed()
  -pos(fixed, arguments)

absolute()
  -pos(absolute, arguments)
