
/*
 * Box sizing utility. Convenience methods for vertical and horizontal sizing.
 *
 * Synopsis:
 *
 *   padding-vertical: <values>
 *   padding-horizontal: <values>
 *
 *   margin-vertical: <values>
 *   margin-horizontal: <values>
 *
 *   border-vertical: <values>
 *   border-horizontal: <values>
 *
 *   border-width-vertical: <values>
 *   border-width-horizontal: <values>
 *   border-style-vertical: <values>
 *   border-style-horizontal: <values>
 *   border-color-vertical: <values>
 *   border-color-horizontal: <values>
 *
 * Examples:
 *
 *     margin-vertical: 2px
 *     padding-horizontal: 5em
 *     border-vertical: 2px solid green
 *
 */


/*
 * Margin utilities
 */
margin-vertical()
    margin-top: arguments
    margin-bottom: arguments

margin-horizontal()
    margin-right: arguments
    margin-left: arguments


/*
 * Padding utilities
 */
padding-vertical()
    padding-top: arguments
    padding-bottom: arguments

padding-horizontal()
    padding-right: arguments
    padding-left: arguments


/*
 * Border utilities
 */
border-vertical()
    border-top: arguments
    border-bottom: arguments

border-horizontal()
    border-right: arguments
    border-left: arguments


border-vertical-width()
    border-top-width: arguments
    border-bottom-width: arguments

border-horizontal-width()
    border-right-width: arguments
    border-left-width: arguments


border-vertical-color()
    border-top-color: arguments
    border-bottom-color: arguments

border-horizontal-color()
    border-right-color: arguments
    border-left-color: arguments


border-vertical-style()
    border-top-style: arguments
    border-bottom-style: arguments

border-horizontal-style()
    border-right-style: arguments
    border-left-style: arguments


