
nowrap = no-wrap

whitespace()
  white-space: arguments

hide-text()
  text-indent: -999999999em
  overflow: hidden
  text-align: left

ellipsis(no-wrap = true)
  if no-wrap
    white-space nowrap
  overflow hidden
  text-overflow ellipsis