
/*
 * Returns the minimum value in list.
 */
-min(list)
  minimum = list[0]
  for val in list
    if val < minimum
      minimum = val
  minimum

/*
 * Returns the maximum value in list.
 */
-max(list)
  maximum = list[0]
  for val in list
    if val > maximum
      maximum = val
  maximum
