
no-wrap = unquote('nowrap')

legacy-support-for-ie ?= true

default-vendor-prefixes = webkit moz

vendor(prop, args, prefixes = default-vendor-prefixes)
  for prefix in prefixes
    // TODO: fix {prefix}-{prop}
    {'-' + prefix + '-' + prop}: args
  {prop}: args

box-shadow()
  vendor('box-shadow', arguments)

user-select()
  vendor('user-select', arguments)

background-size()
  vendor('background-size', arguments)

display()
  if inline-block == arguments[0]
    display: -moz-inline-box
    -moz-box-orient: vertical
    display: inline-block
    vertical-align: middle
    {'*vertical-align'}: auto if legacy-support-for-ie
  else
    display: arguments

opacity(n)
  opacity: n
  if support-for-ie
    filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=%s)' % round(n * 100)

whitespace()
  white-space: arguments

/*
 * Examples:
 *
 *    border-radius: top 5px
 *    border-radius: left 5px
 *    border-radius: top left 5px
 *    border-radius: bottom right 5px
 *
 */

border-radius()
  args = ()
  pos = ()
  augmented = false
  for arg in arguments
    if arg is a 'ident'
      append(pos, arg)
      augmented = true
    else if arg is a 'unit' and augmented
      if length(pos) == 2
        y = pos[0]
        x = pos[1]
        -webkit-border-{y + '-' + x}-radius: arg
        -moz-border-radius-{y + x}: arg
        border-{y + '-' + x}-radius: arg
      else if pos in (top bottom)
        -webkit-border-{pos}-left-radius: arg
        -webkit-border-{pos}-right-radius: arg
      else
        -webkit-border-top-{pos}-radius: arg
        -webkit-border-bottom-{pos}-radius: arg
    else
      append(args, arg)
  vendor('border-radius', args) unless augmented
