
@import 'nib/positions'

#login
  absolute: top

#login
  absolute: top 5px

#login
  absolute: top left

#login
  absolute: top 5px left 10px

#login
  absolute: top left 10px

#login
  absolute: top 5px left