#clearfix {
  zoom: 1;
}
#clearfix:before,
#clearfix:after {
  content: "";
  display: table;
}
#clearfix:after {
  clear: both;
}
#clear {
  zoom: 1;
}
#clear:before,
#clear:after {
  content: "";
  display: table;
}
#clear:after {
  clear: both;
}
#clear-none {
  clear: none;
}
#clear-right {
  clear: right !important;
}