
@import 'nib/gradients'

body
  background: linear-gradient(white, black)

body
  background: linear-gradient(top, white, black)

body
  background: linear-gradient(top left, white, red, blue, black)

body
  background: linear-gradient(bottom right, white, black 80%)

body
  background: linear-gradient(right bottom, white, 80% black)

vendor-prefixes = webkit moz ms o official

body
  background: linear-gradient(top, white, black)

body
  background: linear-gradient(top, white, black), white

body
  background: linear-gradient(45deg, white, black)
  
body
  background: linear-gradient(45deg, white, black), white

body
  background: linear-gradient(118deg, white, black)
  
body
  background: linear-gradient(118deg, white, black), white

angle-rad = ceil( PI / .0001 ) * .0001 rad

body
  background: linear-gradient(angle-rad, white, black)
  
body
  background: linear-gradient(angle-rad, white, black), white