
@import 'nib/gradients'

body
  background: linear-gradient(top, white, black)

body
  background: linear-gradient(top left, white, red, blue, black)

body
  background: linear-gradient(bottom right, white, black 80%)

body
  background: linear-gradient(right bottom, white, 80% black)

vendor-prefixes = webkit moz ms o official

body
  background: linear-gradient(top, white, black)