
@import 'nib/gradients'

body
  background: linear-gradient(top, white, black, formats: css)

body
  background: linear-gradient(top left, white, red, blue, black, formats: css)

body
  background: linear-gradient(bottom right, white, black 80%, formats: css)

body
  background: linear-gradient(right bottom, white, 80% black, formats: css)

vendor-prefixes = webkit moz ms o official

body
  background: linear-gradient(top, white, black, formats: css)