
@import 'nib/positions'

#fixed-0
  fixed: bottom right

#fixed-1
  fixed: top 5px left auto

#fixed-2
  fixed: bottom left 10px

#fixed-3
  fixed: bottom 10px right

#fixed-4
  fixed: bottom right left

#fixed-5
  fixed: bottom right 5px left 5px

#fixed-6
  fixed: bottom 10px right 5px left 5px

#fixed-7
  fixed: top bottom right left

#fixed-8
  fixed: top bottom auto right left 5px

#fixed-9
  fixed: top auto bottom 10px right inherit left 5px
