@import 'nib/vendor'
@import 'nib/gradients'

vendor-prefixes = webkit moz official

button
  box-shadow: initial

button
  opacity: initial

support-for-ie = false

button
  opacity: initial
  whitespace: initial

button
  animation-name: initial;
  animation-delay: initial;
  animation-duration: initial;
  animation-iteration-count: initial;
  animation-direction: initial;
  animation-fill-mode: initial;
  animation-play-state: initial;
  animation-timing-function: initial

button
  animation: initial;

button
  appearance: initial;

section
  column-count: initial;
  column-rule: initial;
  column-gap: initial;

section
  column-count: initial;
  column-rule-width: initial;
  column-rule-style: initial;
  column-rule-color: initial;
  column-width: initial;

section
  column-count: initial;
  column-rule-width: initial;
  column-rule-style: initial;
  column-rule-color: initial;
  column-gap: initial;

prepend(vendor-prefixes, o)

button
  background-origin: initial;
  background-clip: initial;

button
  transition: initial
  backface-visibility: initial

button
  transition-property: initial
  transition-duration: initial
  transition-timing-function: initial
  transition-delay: initial

button
  transform: initial

button
  transform: initial

button
  perspective: initial

section
  border-image: initial

section
  border-image: initial;

p
  hyphens: initial

section
  overflow-scrolling: initial
