
@import 'nib/vendor'

button
  box-shadow: 1px 1px 5px #eee

button
  opacity: 0.5

support-for-ie = false

button
  opacity: 0.75
  whitespace: no-wrap


prepend(vendor-prefixes, o)

button
  transition: all 0.1s ease-in-out 1s

button
  transition-property: all
  transition-duration: 0.1s
  transition-timing-function: ease-in-out
  transition-delay: 1s

button
  transform: rotateY(45deg)
