@import 'nib/vendor'
@import 'nib/gradients'

vendor-prefixes = webkit moz official

button
  box-shadow: inherit

button
  opacity: inherit

support-for-ie = false

button
  opacity: inherit
  whitespace: inherit

button
  animation-name: inherit;
  animation-delay: inherit;
  animation-duration: inherit;
  animation-iteration-count: inherit;
  animation-direction: inherit;
  animation-fill-mode: inherit;
  animation-play-state: inherit;
  animation-timing-function: inherit

button
  animation: inherit;

button
  appearance: inherit;

section
  column-count: inherit;
  column-rule: inherit;
  column-gap: inherit;

section
  column-count: inherit;
  column-rule-width: inherit;
  column-rule-style: inherit;
  column-rule-color: inherit;
  column-width: inherit;

section
  column-count: inherit;
  column-rule-width: inherit;
  column-rule-style: inherit;
  column-rule-color: inherit;
  column-gap: inherit;

prepend(vendor-prefixes, o)

button
  background-origin: inherit;
  background-clip: inherit;

button
  transition: inherit
  backface-visibility: inherit

button
  transition-property: inherit
  transition-duration: inherit
  transition-timing-function: inherit
  transition-delay: inherit

button
  transform: inherit

button
  transform: inherit

button
  perspective: inherit

section
  border-image: inherit

section
  border-image: inherit;

p
  hyphens: inherit

section
  overflow-scrolling: inherit
