// Based in Nicolas Gallagher's git.io/normalize
normalize-html5()
  // `block` display for HTML5 elements in IE 8~11 and FF.
  article,
  aside,
  details, /* 1 */
  figcaption,
  figure,
  footer,
  header,
  main, /* 2 */
  menu,
  nav,
  section,
  summary
    display block

  audio, canvas, progress, video
    display inline-block // Set `inline-block` not defined in IE 8~9.

  audio:not([controls])
      display none // Prevent displaying `audio` without controls.
      height  0 // Remove excess height in iOS 5 devices.
  
  progress
    vertical-align baseline

  [hidden], // Address `[hidden]` styling not present in IE 8~10.
  template  // Hide the `template` element in IE 8~11, Safari, and FF < 22.
    display none
