// Based in Nicolas Gallagher's git.io/normalize
normalize-text()
  abbr[title] // + style not present in IE 8~11, Safari, and Chrome.
    border-bottom none
    text-decoration underline
    text-decoration underline dotted

  dfn // + style not present in Safari and Chrome.
    font-style italic

  mark // + style not present in IE 8/9.
    background #ff0
    color #000
  
  b, strong // Prevent the duplicate application of `bolder` by the next rule in Safari 6.
    font-weight inherit
    
  b, strong // Fix `font-weight: bolder` in FF 4+, Safari, and Chrome.
    font-weight bolder

  h1 // `h1` inside `section` and `article` fix for FF 4+, Safari & Chrome.
    font-size 2em
    margin    0.67em 0

  small // Consistent font-size across browsers.
    font-size 80%

  sub, sup // Prevent `sub` and `sup` affecting `line-height`.
    font-size       75%
    line-height     0
    position        relative
    vertical-align  baseline
  sup
    top -0.5em
  sub
    bottom  -0.25em
